<nb-layout>

  <nb-layout-header fixed>
    <nb-actions>
      <nb-action icon="power" routerLink="/login"></nb-action>
    </nb-actions>
  </nb-layout-header>

  <nb-sidebar>
    <nb-menu [items]="items"></nb-menu>
  </nb-sidebar>
  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer fixed>
  <!-- Insert footer here -->
  </nb-layout-footer>

</nb-layout>
