<div style="padding: 20px;">
    <form [formGroup]="fg" (ngSubmit)="login()">
        <input type="email" nbInput formControlName="username">
        <input type="password" nbInput formControlName="password">
        <button nbButton >Se Loguer</button>
    </form>
</div>
